{% extends 'serviceapp/service_main.html' %}

{% block create_service %}
<button onclick="window.location.href='{% url 'create_service' %}';" type="button" class="btn btn-primary">Create service</button>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div id="insert_table" class="shadow-lg p-3 mb-4 bg-body-tertiary ">
        <div class="row mb-3">
            <label for="name" class="col-lg-3 col-form-label">Name</label>
            <div class="col-sm-4">
            {{ form.name }}
            </div>
        </div>
    </div>
    <input id="submit" type="submit" value="Submit" class="btn btn-success">
</form>
{% endblock %}
