{% extends 'base.html' %}

{% block title %}
<title>Client</title>
{% endblock %}

{% block client %}
<a class="nav-link active" aria-current="page" href="{% url 'client' 'all_clients' %}">Client</a>
{% endblock %}

{% block container %}
<div id="third_row" class="row">
    <div class="col-lg-3">
        <p id="buttons" class="row-cols-2">
            {% block bt_all %}
            <button onclick="window.location.href='{% url 'client' 'all_clients' %}';" type="button" class="btn btn-secondary">All Clients</button>
            {% endblock %}
            {% block bt_ins %}
            <button onclick="window.location.href='{% url 'client' 'insert_client' %}';" type="button" class="btn btn-secondary">Insert Client</button>
            {% endblock %}
        </p>
    </div>
    <div class="col-lg-9">
{% block content %}
        
{% endblock %}
    </div>
</div>
{% endblock %}