{% extends 'client_main.html' %}

{% block bt_ins %}
<button onclick="window.location.href='{% url 'ClientCreate' %}';" type="button" class="btn btn-primary">Insert Client</button>
{% endblock %}

{% block content %}
<form  method="POST" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    <div id="insert_table" class="shadow-lg p-3 mb-4 bg-body-tertiary">
        <div class="row mb-3">
            <label for="first_name" class="col-lg-3 col-form-label">First name</label>
            <div class="col-sm-4">
            {{ form.first_name }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="last_name" class="col-lg-3 col-form-label">Last name</label>
            <div class="col-sm-4">
            {{ form.last_name }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_phone" class="col-lg-3 col-form-label">Phone</label>
            <div class="col-sm-4">
            {{ form.phone }}
            <small id="phoneHelpBlock" class="form-text text-muted">Enter 9 symbols</small>
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-lg-3 col-form-label">Email</label>
            <div class="col-sm-4">
            {{ form.email }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="birthday" class="col-lg-3 col-form-label">Birthday</label>
            <div class="col-sm-4">
            {{ form.birthday }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="image" class="col-lg-3 col-form-label">Image</label>
            <div class="col-sm-4">
            {{ form.image }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="comment" class="col-lg-3 col-form-label">Comment</label>
            <div class="col-sm-4">
            {{ form.comment }}
            </div>
        </div>
    </div>
    <input id="submit" type="submit" value="Submit" class="btn btn-success">
</form>
{% endblock %}

{% block js %}
<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', submitHandler);

    function submitHandler(e){
        e.preventDefault();     // This method will prevent from submitting a form, when clicking on a "Submit" button

        fetch(form.action, {method: 'POST', body: new FormData(form)}) //This line makes a POST request to the form's action URL. 
        .then(response=>response.json())
        .then(data=>{
            if (data.message === 'success'){
                alert('Success!');
                form.reset()
            }
        })
    }

    let phone = document.getElementById('id_phone');
    phone.addEventListener('input', changHandler);

    function changHandler(e){

        var cleaned = ('' + e.target.value).replace(/\D/g, '');
        var match;
        switch (Number(cleaned)) {
            case Number(cleaned.match(/^(\d{2})$/g)):
                match = cleaned.match(/^(\d{2})$/);
                phone.value = 38 +  ' 0' + match[1] + ' ' ;
                break;
            case Number(cleaned.match(/^380(\d{2})(\d{3})$/g)):
                match = cleaned.match(/^380(\d{2})(\d{3})$/);
                phone.value += '-';
                break;
            case Number(cleaned.match(/^380(\d{2})(\d{3})(\d{2})$/g)):
                match = cleaned.match(/^380(\d{2})(\d{3})(\d{2})$/);
                phone.value += '-';
                break;
        }   
    }
</script>
{% endblock %}