{% extends 'staffapp/staff_main.html' %}

{% block all_staff %}
<button onclick="window.location.href= '{% url 'all_staff' %}';" type="button" class="btn btn-primary">All staff</button>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table class="table table-hover text-center collapsing shadow-lg p-3 mb-4 bg-body-tertiary">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Job title</th>
            <th>Access level</th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.sex}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.job_title}}</td>
            <td>{{item.access_level}}</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}