{% extends 'base.html' %}

{% block container %}
<div id="third_row" class="row">
    <div class="col-lg-3">
        <div id="buttons" class="row-cols-2">
            {% if request.path == '/all_staff/' %}
            <button onclick="window.location.href= '{% url 'all_staff' %}';" type="button" class="btn btn-primary">All staff</button>
            <button onclick="window.location.href='{% url 'create_staff' %}';" type="button" class="btn btn-secondary">Create staff</button>
            <button onclick="window.location.href='{% url 'create_schedule' %}';" type="button" class="btn btn-secondary">Create schedule</button>
            {% elif request.path == '/create_staff/' %}
            <button onclick="window.location.href= '{% url 'all_staff' %}';" type="button" class="btn btn-secondary">All staff</button>
            <button onclick="window.location.href='{% url 'create_staff' %}';" type="button" class="btn btn-primary">Create staff</button>
            <button onclick="window.location.href='{% url 'create_schedule' %}';" type="button" class="btn btn-secondary">Create schedule</button>
            {% elif request.path == '/create_schedule/' %}
            <button onclick="window.location.href= '{% url 'all_staff' %}';" type="button" class="btn btn-secondary">All staff</button>
            <button onclick="window.location.href='{% url 'create_staff' %}';" type="button" class="btn btn-secondary">Create staff</button>
            <button onclick="window.location.href='{% url 'create_schedule' %}';" type="button" class="btn btn-primary">Create schedule</button>
            {% else %}
            <button onclick="window.location.href= '{% url 'all_staff' %}';" type="button" class="btn btn-secondary">All staff</button>
            <button onclick="window.location.href='{% url 'create_staff' %}';" type="button" class="btn btn-secondary">Create staff</button>
            <button onclick="window.location.href='{% url 'create_schedule' %}';" type="button" class="btn btn-secondary">Create schedule</button>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-9">
{% block content %}

{% endblock %}
    </div>
</div>
{% endblock %}