{% extends 'staffapp/staff_main.html' %}
{% load static %}

{% block bt_ins %}
<button onclick="window.location.href='{% url 'create_staff' %}';" type="button" class="btn btn-secondary">Create staff</button>
{% endblock %}

{% block content %}
<form  method="POST">
    {% csrf_token %}
    <div id="insert_table" class="shadow-lg p-3 mb-4 bg-body-tertiary">
        <div class="row mb-3">
            <label for="first_name" class="col-lg-3 col-form-label">First name</label>
            <div class="col-sm-4">
            {{ form.first_name }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="last_name" class="col-lg-3 col-form-label">Last name</label>
            <div class="col-sm-4">
            {{ form.last_name }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="id_phone" class="col-lg-3 col-form-label">Sex</label>
            <div class="col-sm-4">
            {{ form.sex }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-lg-3 col-form-label">Email</label>
            <div class="col-sm-4">
            {{ form.email }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="birthday" class="col-lg-3 col-form-label">Phone</label>
            <div class="col-sm-4">
            {{ form.phone }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="image" class="col-lg-3 col-form-label">Job title</label>
            <div class="col-sm-4">
            {{ form.job_title }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="comment" class="col-lg-3 col-form-label">Access level</label>
            <div class="col-sm-4">
            {{ form.access_level }}
            </div>
        </div>
    </div>
    <input id="submit" type="submit" value="Update" class="btn btn-success">
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/phone_number_formater.js' %}"></script>
{% endblock %}