{% extends 'base.html' %}

{% block title %}
<title>Service</title>
{% endblock %}

{% block service %}
<a class="nav-link active" aria-current="page" href="{% url 'service' 'service1' %}">Service</a>
{% endblock %}

{% block container %}
<div id="third_row" class="row">
    <div class="col-lg-3">
        <div id="buttons" class="row-cols-2">
            {% block service1 %}
            <button onclick="window.location.href= '{% url 'service' 'service1' %}';" type="button" class="btn btn-secondary">Service</button>
            {% endblock %}
            {% block resource %}
            <button onclick="window.location.href='{% url 'service' 'resource' %}';" type="button" class="btn btn-secondary">Resource</button>
            {% endblock %}
            {% block serv_table %}
            <button onclick="window.location.href='{% url 'service' 'service_table' %}';" type="button" class="btn btn-secondary">Service Table</button>
            {% endblock %}
            {% block res_table %}
            <button onclick="window.location.href='{% url 'service' 'resource_table' %}';" type="button" class="btn btn-secondary">Resource Table</button>
            {% endblock %}
        </div>
    </div>
    <div class="col-lg-9">
{% block content %}

{% endblock %}
    </div>
</div>
{% endblock %}